.big-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    text-transform: uppercase;
    i {
      -webkit-animation: rotation 2s infinite linear;
    }
  }
}

.small-loader {
  text-align: center;
  span {
    i {
      -webkit-animation: rotation 2s infinite linear;
    }
  }
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}