.scrolled {
	height: 20vh;
	overflow-y: auto;
}

.vertical-align {
	display: table;
	height: 100vh;
	width: 100%;
	.cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.small-block {
	width: 40%;
}

.list-group {
	p {
		margin-bottom: 0;
	}
	label {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 12px;
		color: lightgray;
	}
}

.jumbotron {
	h3 {
		text-transform: uppercase;
	}
}