<div class="jumbotron text-center">
	<h1>Salestock Testing</h1>
</div>
<!-- <div class="col-md-4" ng-repeat="people in person">
	<p>{{ people.name }}</p>
</div> -->

<ul when-scrolled='loadMore()' class="list-unstyled scrolled">
  <li ng-repeat='person in people track by $index'>
  	<a ui-sref="people({personId: $index + 1})">{{person.name}}</a>
    <div style='clear: both;'></div>
  </li>
  <li ng-show='loading' class="small-loader">
  	<span><i class="ion ion-load-b"></i></span>
  </li>
</div>