<div ng-show='loading' class="big-loader">
	<span><i class="ion ion-load-b"></i></span>
</div>

<div class="vertical-align">
	<div class="cell">
		<div class="row">
			<div class="col-md-4">
	      <div class="caption">
	        <h3>{{ person.name }}</h3>
	        <ul class="list-group">
					  <li class="list-group-item">
		        	<label>height</label>
		        	<p>{{ person.height }}</p>
					  </li>
					  <li class="list-group-item">
		        	<label>mass</label>
		        	<p>{{ person.mass }}</p>
					  </li>
					  <li class="list-group-item">
		        	<label>hair color</label>
		        	<p>{{ person.hair_color }}</p>
					  </li>
					  <li class="list-group-item">
		        	<label>skin color</label>
		        	<p>{{ person.skin_color }}</p>
					  </li>
					  <li class="list-group-item">
		        	<label>eye color</label>
		        	<p>{{ person.eye_color }}</p>
					  </li>
					  <li class="list-group-item">
		        	<label>birth year</label>
		        	<p>{{ person.birth_year }}</p>
					  </li>
					  <li class="list-group-item">
		        	<label>gender</label>
		        	<p>{{ person.gender }}</p>
					  </li>
					  <li class="list-group-item">
		        	<label>home world</label>
		        	<p>{{ person.homeworld.name }}</p>
					  </li>

					</ul><!-- list-group -->
	      </div><!-- caption -->
			</div><!-- col-md-4 -->

	    <div class="col-md-4">
	    	<div class="caption">
	    		<h3>Films</h3>
	    		<ul class="list-group">
	    			<li class="list-group-item" ng-repeat="film in person.films">
	    				<a ui-sref="film({filmId: film.filmId})">{{ film.title }}</a>
	    			</li>
	    		</ul>

	    		<h3>Vehicles</h3>
	    		<ul class="list-group">
	    			<li class="list-group-item" ng-repeat="vehicle in person.vehicles">
	    				<a ui-sref="vehicle({vehicleId: vehicle.vehicleId})">{{ vehicle.name }}</a>
	    			</li>
	    		</ul>
	    	</div>
	    </div><!-- col-md-4 -->

	    <div class="col-md-4">
	    	<div class="caption">
	    		<h3>Starships</h3>
	    		<ul class="list-group">
	    			<li class="list-group-item" ng-repeat="starship in person.starships">
	    				<a ui-sref="starship({starshipId: starship.starshipId})">{{ starship.name }}</a>
	    			</li>
	    		</ul>
	    	</div>
	    </div>

		</div>
	</div>
</div>