<div ng-show='loading' class="big-loader">
	<span><i class="ion ion-load-b"></i></span>
</div>

<div class="vertical-align">
	<div class="cell">
		<div class="center-block small-block">
			<div class="jumbotron text-center">
				<h3>{{ film.title }}</h3>
				<small>episode: {{ film.episode_id }}</small>
			</div>
			<ul class="list-group">
				<li class="list-group-item">{{ film.opening_crawl }}</li>
				<li class="list-group-item"><label>director</label><p>{{ film.director }}</p></li>
				<li class="list-group-item"><label>producer</label><p>{{ film.producer }}</p></li>
				<li class="list-group-item"><label>release</label><p>{{ film.release_date }}</p></li>
			</ul>
		</div>
	</div>
</div>