<div ng-show='loading' class="big-loader">
	<span><i class="ion ion-load-b"></i></span>
</div>

<div class="vertical-align">
	<div class="cell">
		<div class="center-block small-block">
			<div class="jumbotron text-center">
				<h3>{{ vehicle.name }}</h3>
				<small>model: {{ vehicle.model }}</small>
			</div>
			<ul class="list-group">
				<li class="list-group-item">{{ vehicle.manufacturer }}</li>
				<li class="list-group-item"><label>cost in credits</label><p>{{ vehicle.cost_in_credits }}</p></li>
				<li class="list-group-item"><label>max atmosphering speed</label><p>{{ vehicle.max_atmosphering_speed }}</p></li>
				<li class="list-group-item"><label>cargo capacity</label><p>{{ vehicle.cargo_capacity }}</p></li>
			</ul>
		</div>
	</div>
</div>